{% extends 'base.html' %}
{% block title %}
  Dispora
{% endblock %}
{% block content %}
  <!-- Content -->

  <div class="container">
    <div class="ket-tabel d-flex justify-content-center">
      <a href="{{ url_for('dispora') }}" class="btn btn-success m-2">Kota Palu</a>
      <a href="{{ url_for('dispora_kec', district_id=1) }}" class="btn btn-success m-2">Palu Barat</a>
      <a href="{{ url_for('dispora_kec', district_id=2) }}" class="btn btn-success m-2">Palu Selatan</a>
      <a href="{{ url_for('dispora_kec', district_id=3) }}" class="btn btn-success m-2">Tatanga</a>
      <a href="{{ url_for('dispora_kec', district_id=4) }}" class="btn btn-success m-2">Ulujadi</a>
      <a href="{{ url_for('dispora_kec', district_id=5) }}" class="btn btn-success m-2">Mantikulore</a>
      <a href="{{ url_for('dispora_kec', district_id=6) }}" class="btn btn-success m-2">Palu Timur</a>
      <a href="{{ url_for('dispora_kec', district_id=7) }}" class="btn btn-success m-2">Palu Utara</a>
      <a href="{{ url_for('dispora_kec', district_id=8) }}" class="btn btn-success m-2">Tawaili</a>
    </div>
    <h3 class="text-center">Publikasi Dinas Pemuda dan Olahraga Kota Palu</h3>

    <button class="btn btn-sm btn-info btn-download" onclick="exportTableToExcel('disporaTable', 'tabel')">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-spreadsheet" viewBox="0 0 16 16">
        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v4h10V2a1 1 0 0 0-1-1H4zm9 6h-3v2h3V7zm0 3h-3v2h3v-2zm0 3h-3v2h2a1 1 0 0 0 1-1v-1zm-4 2v-2H6v2h3zm-4 0v-2H3v1a1 1 0 0 0 1 1h1zm-2-3h2v-2H3v2zm0-3h2V7H3v2zm3-2v2h3V7H6zm3 3H6v2h3v-2z"/>
      </svg>
      <span>
        Download Tabel
      </span>
    </button>

    <!-- awal tabel -->
    <div class="table-responsive mb-5" style="padding: 5vh;">
      <table class="table" id="kearsipanTable">
        <thead class="table-dark text-center">
          <tr>
            <th rowspan="2" scope="col">No</th>
            <th rowspan="2" scope="col">Uraian</th>
            <th rowspan="2" scope="col">Satuan</th>
            <th colspan="{{ data|length + 1 }}" scope="col" style="text-align: center">Tahun</th>
          </tr>
    
          <tr>
            {% for d in data %}
              <th>
                {{ d.tahun }}
                {% if current_user.role == 'admin' or current_user.officer_of_agency == 18 %}
                  <span><a href="{{ url_for('dispora_delete', id=d.id) }}" class="btn btn-danger rounded-circle">x</a></span>
                {% endif %}
              </th>
            {% endfor %}
            {% if current_user.role == 'admin' or current_user.officer_of_agency == 18 %}
              <th><a href="{{ url_for('dispora_add') }}" class="btn btn-success">Tambah</a></th>
            {% endif %}
          </tr>
        </thead>
    
        <!-- awal -->
        <tbody>
          <tr>
            <td>1</td>
            <td>Jumlah Organisasi Kepemudaan</td>
            <td>Organisasi</td>
            {% for d in data %}
            <td>{{ d.u1 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>2</td>
            <td>Jumlah pemuda (16-30 tahun) yg menjadi anggota aktif pada :</td>
            <td>Orang</td>
            {% for d in data %}
            <td>{{ d.u2 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>a. organisasi kepemudaan</td>
            <td>Orang</td>
            {% for d in data %}
            <td>{{ d.u3 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>b. organisasi sosial kemasyarakatan</td>
            <td>Orang</td>
            {% for d in data %}
            <td>{{ d.u4 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>3</td>
            <td>Jumlah atlet berprestasi</td>
            <td>Orang</td>
            {% for d in data %}
            <td>{{ d.u5 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>4</td>
            <td>Jumlah prestasi olahraga</td>
            <td>Cabor</td>
            {% for d in data %}
            <td>{{ d.u6 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>5</td>
            <td>Jumlah Klub Olahraga</td>
            <td>Klub</td>
            {% for d in data %}
            <td>{{ d.u7 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>6</td>
            <td>Jumlah Gedung Olahraga</td>
            <td>Unit</td>
            {% for d in data %}
            <td>{{ d.u8 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>7</td>
            <td>Jumlah Organisasi Olahraga</td>
            <td>Organisasi</td>
            {% for d in data %}
            <td>{{ d.u9 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>8</td>
            <td>Kegiatan Olahraga</td>
            <td>Cabor</td>
            {% for d in data %}
            <td>{{ d.u10 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>9</td>
            <td>Jumlah Medali yang diraih</td>
            <td>Medali</td>
            {% for d in data %}
            <td>{{ d.u11 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>10</td>
            <td>Kegiatan Kepemudaan</td>
            <td>Kegiatan</td>
            {% endfor %}{% for d in data %}
            <td>{{ d.u12 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>11</td>
            <td>Jumlah Pemuda Pelopor</td>
            <td>Orang</td>
            {% for d in data %}
            <td>{{ d.u13 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>12</td>
            <td>Jumlah Kepemudaan (Edukasi)</td>
            <td>Organisasi</td>
            {% for d in data %}
            <td>{{ d.u14 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>13</td>
            <td>Jumlah Pemuda Pengangguran</td>
            <td>Orang</td>
            {% for d in data %}
            <td>{{ d.u15 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>14</td>
            <td>Pelatihan Kewirausahaan Pemuda</td>
            <td>Pelatihan</td>
            {% for d in data %}
            <td>{{ d.u16 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>15</td>
            <td>Persentase organisasi pemuda yang aktif</td>
            <td>%</td>
            {% for d in data %}
            <td>{{ d.u17 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>a. Jumlah organisasi pemuda yang aktif</td>
            <td>Organisasi</td>
            {% for d in data %}
            <td>{{ d.u18 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>b. Jumlah seluruh organisasi pemuda</td>
            <td>Organisasi</td>
            {% for d in data %}
            <td>{{ d.u19 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>16</td>
            <td>Persentase wirausaha muda</td>
            <td>%</td>
            {% for d in data %}
            <td>{{ d.u20 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>a. Jumlah wirausaha muda</td>
            <td>Wirausaha</td>
            {% for d in data %}
            <td>{{ d.u21 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>b. Jumlah seluruh wirausaha</td>
            <td>Wirausaha</td>
            {% for d in data %}
            <td>{{ d.u22 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>17</td>
            <td>Cakupan pembinaan olahragat</td>
            <td>%</td>
            {% for d in data %}
            <td>{{ d.u23 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>a. Jumlah cabang olahraga yang dibina</td>
            <td>Cabor</td>
            {% for d in data %}
            <td>{{ d.u24 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>b. Jumlah seluruh cabang olahraga yang ada/terdaftar</td>
            <td>Cabor</td>
            {% for d in data %}
            <td>{{ d.u25 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>18</td>
            <td>Cakupan Pelatih yang bersertifikasi</td>
            <td>%</td>
            {% for d in data %}
            <td>{{ d.u26 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>a. Jumlah pelatih bersertifikat</td>
            <td>Orang</td>
            {% for d in data %}
            <td>{{ d.u27 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>b. Jumlah seluruh pelatih</td>
            <td>Orang</td>
            {% for d in data %}
            <td>{{ d.u28 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>19</td>
            <td>Cakupan pembinaan atlet muda</td>
            <td>%</td>
            {% for d in data %}
            <td>{{ d.u29 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>a. Jumlah atlit pelajar yang dibina</td>
            <td>Orang</td>
            {% for d in data %}
            <td>{{ d.u30 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>b. Jumlah seluruh atlit pelajar</td>
            <td>Orang</td>
            {% for d in data %}
            <td>{{ d.u31 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>20</td>
            <td>Indeks Pembangunan Kepemudaan</td>
            <td></td>
          </tr>
    
          <!-- akhir -->
        </tbody>
      </table>
    </div>

    <!-- akhir tabel -->

  </div>

  <!-- Content end -->

{% endblock %}
