{% extends 'base.html' %}
{% block title %}
  Kawasan
{% endblock %}
{% block content %}
  <!-- Content -->

  <div class="container">
    <div class="ket-tabel d-flex justify-content-center">
      <a href="{{ url_for('kawasan') }}" class="btn btn-success m-2">Kota Palu</a>
      <a href="{{ url_for('kawasan_kec', district_id=1) }}" class="btn btn-success m-2">Palu Barat</a>
      <a href="{{ url_for('kawasan_kec', district_id=2) }}" class="btn btn-success m-2">Palu Selatan</a>
      <a href="{{ url_for('kawasan_kec', district_id=3) }}" class="btn btn-success m-2">Tatanga</a>
      <a href="{{ url_for('kawasan_kec', district_id=4) }}" class="btn btn-success m-2">Ulujadi</a>
      <a href="{{ url_for('kawasan_kec', district_id=5) }}" class="btn btn-success m-2">Mantikulore</a>
      <a href="{{ url_for('kawasan_kec', district_id=6) }}" class="btn btn-success m-2">Palu Timur</a>
      <a href="{{ url_for('kawasan_kec', district_id=7) }}" class="btn btn-success m-2">Palu Utara</a>
      <a href="{{ url_for('kawasan_kec', district_id=8) }}" class="btn btn-success m-2">Tawaili</a>
    </div>
    <h3 class="text-center">Publikasi Administrator Kawasan Ekonomi Khusus Kota Palu</h3>

    <button class="btn btn-sm btn-info btn-download" onclick="exportTableToExcel('kawasanTable', 'tabel')">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-spreadsheet" viewBox="0 0 16 16">
        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v4h10V2a1 1 0 0 0-1-1H4zm9 6h-3v2h3V7zm0 3h-3v2h3v-2zm0 3h-3v2h2a1 1 0 0 0 1-1v-1zm-4 2v-2H6v2h3zm-4 0v-2H3v1a1 1 0 0 0 1 1h1zm-2-3h2v-2H3v2zm0-3h2V7H3v2zm3-2v2h3V7H6zm3 3H6v2h3v-2z"/>
      </svg>
      <span>
        Download Tabel
      </span>
    </button>

    <!-- awal tabel -->
    <div class="table-responsive mb-5" style="padding: 5vh;">
      <table class="table" id="kawasanTable">
        <thead class="table-dark text-center">
          <tr>
            <th rowspan="2" scope="col">No</th>
            <th rowspan="2" scope="col">Uraian</th>
            <th rowspan="2" scope="col">Satuan</th>
            <th colspan="{{ data|length + 1 }}" scope="col" style="text-align: center">Tahun</th>
          </tr>
    
          <tr>
            {% for d in data %}
              <th>
                {{ d.tahun }}
                {% if current_user.role == 'admin' or current_user.officer_of_agency == 33 %}
                  <span><a href="{{ url_for('kawasan_delete', id=d.id) }}" class="btn btn-danger rounded-circle">x</a></span>
                {% endif %}
              </th>
            {% endfor %}
            {% if current_user.role == 'admin' or current_user.officer_of_agency == 33 %}
              <th><a href="{{ url_for('kawasan_add') }}" class="btn btn-success">Tambah</a></th>
            {% endif %}
          </tr>
        </thead>
    
        <!-- awal -->
        <tbody>
          <tr>
            <td>1</td>
            <td>Jumlah nilai investasi berskala nasional (PMDN)</td>
            <td>Ha</td>
            {% for d in data %}
            <td>{{ d.u1 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>2</td>
            <td>Jumlah nilai investasi berskala nasional (PMA)</td>
            <td>Ha</td>
            {% for d in data %}
            <td>{{ d.u2 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>3</td>
            <td>Jumlah Penerbitan Izin Di Kawasan Kek  Palu</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>a. Izin Lingkungan</td>
            <td>o</td>
            {% for d in data %}
            <td>{{ d.u3 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>b. SLF,IMB,SNI</td>
            <td>o</td>
            {% for d in data %}
            <td>{{ d.u4 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>c. Izin Operasi</td>
            <td>Ha</td>
            {% for d in data %}
            <td>{{ d.u5 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>d. Izin Usaha Perdagangan</td>
            <td>Ha</td>
            {% for d in data %}
            <td>{{ d.u6 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>e. Izin Usaha Industri</td>
            <td>Ha</td>
            {% for d in data %}
            <td>{{ d.u7 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>f. Tanda Daftar Gudang</td>
            <td>Ha</td>
            {% for d in data %}
            <td>{{ d.u8 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>g. Persetujuan Import</td>
            <td>Ha</td>
            {% for d in data %}
            <td>{{ d.u9 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>h. NIB</td>
            <td>Ha</td>
            {% for d in data %}
            <td>{{ d.u10 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>i. RPL-RKL</td>
            <td>%</td>
            {% for d in data %}
            <td>{{ d.u11 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>j. UKL-UPL</td>
            <td>Ha</td>
            {% for d in data %}
            <td>{{ d.u12 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>k. Izin Prinsip</td>
            <td>Ha</td>
            {% for d in data %}
            <td>{{ d.u13 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>4</td>
            <td>Jumlah NIB</td>
            <td>Ha</td>
            {% for d in data %}
            <td>{{ d.u14 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>5</td>
            <td>SKALA USAHA</td>
            <td></td>
          <tr>
            <td></td>
            <td>Usaha Besar</td>
            <td>Ha</td>
            {% for d in data %}
            <td>{{ d.u15 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>Usaha Kecil</td>
            <td>%</td>
            {% for d in data %}
            <td>{{ d.u16 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>Usaha Menengah</td>
            <td>Ha</td>
            {% for d in data %}
            <td>{{ d.u17 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>Usaha Mikro</td>
            <td>%</td>
            {% for d in data %}
            <td>{{ d.u18 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>6</td>
            <td>BERDASARKAN RISIKO</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>Risiko Rendah</td>
            <td>%</td>
            {% for d in data %}
            <td>{{ d.u19 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>Risiko Menengah Rendah</td>
            <td>Lokasi</td>
            {% for d in data %}
            <td>{{ d.u20 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>Risiko Menengah Tinggi</td>
            <td>Ha</td>
            {% for d in data %}
            <td>{{ d.u21 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>Risiko Tinggi</td>
            <td>-</td>
            {% for d in data %}
            <td>{{ d.u22 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>7</td>
            <td>BERDASARKAN JENIS PERIZINAN</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>izin</td>
            <td>-</td>
            {% for d in data %}
            <td>{{ d.u23 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>Persyaratan Dasar (Persetujuan Lingkungan)</td>
            <td>oC</td>
            {% for d in data %}
            <td>{{ d.u24 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>Sertifikat Standar</td>
            <td>-</td>
            {% for d in data %}
            <td>{{ d.u25 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>UMKU</td>
            <td>Ha</td>
            {% for d in data %}
            <td>{{ d.u26 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>8</td>
            <td>NON PERIZINAN</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>Master list (impor)</td>
            <td>Ha</td>
            {% for d in data %}
            <td>{{ d.u27 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>Surat Keterangan Asal (Ekspor)</td>
            <td>Ha</td>
            {% for d in data %}
            <td>{{ d.u28 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>9</td>
            <td>Jumlah Perusahan / Investor Menurut Status Usaha Di Kawasan KEK Palu</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>a. Beroperasi</td>
            <td>Ha</td>
            {% for d in data %}
            <td>{{ d.u29 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>b. Konstruksi</td>
            <td>Ha</td>
            {% for d in data %}
            <td>{{ d.u30 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>c. Pematangan Lahan</td>
            <td>Ha</td>
            {% for d in data %}
            <td>{{ d.u31 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>d. Belum Operasi</td>
            <td>%</td>
            {% for d in data %}
            <td>{{ d.u32 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>10</td>
            <td>Jumlah Realisasi Investasi Penanaman Modal Menurut Kepemilikan Modal Di Kawasan KEK</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>a. PMA</td>
            <td>%</td>
            {% for d in data %}
            <td>{{ d.u33 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>b. PMDN</td>
            <td>%</td>
            {% for d in data %}
            <td>{{ d.u34 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>11</td>
            <td>Jumlah Perusahaan Asing Dan Daerah Di Kawasn KEK Palu</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>a. PMA</td>
            <td>%</td>
            {% for d in data %}
            <td>{{ d.u35 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>b. PMDN</td>
            <td>%</td>
            {% for d in data %}
            <td>{{ d.u36 }}</td>
            {% endfor %}
          </tr>
          <tr>
              <td>12</td>
              <td>Jumlah Tenaga Kerja</td>
              <td>%</td>
              {% for d in data %}
              <td>{{ d.u37 }}</td>
              {% endfor %}
            </tr>
    
            <!-- l -->
            
            
            
            
    
    
    
          <!-- akhir -->
        </tbody>
      </table>
    </div>

    <!-- akhir tabel -->

  </div>

  <!-- Content end -->

{% endblock %}
