{% extends 'base.html' %}
{% block title %}
  Bappeda 
{% endblock %}
{% block content %}
  <!-- Content -->

  <div class="container">
    <div class="ket-tabel d-flex justify-content-center">
      <a href="{{ url_for('bappeda') }}" class="btn btn-success m-2">Kota Palu</a>
      <a href="{{ url_for('bappeda_kec', district_id=1) }}" class="btn btn-success m-2">Palu Barat</a>
      <a href="{{ url_for('bappeda_kec', district_id=2) }}" class="btn btn-success m-2">Palu Selatan</a>
      <a href="{{ url_for('bappeda_kec', district_id=3) }}" class="btn btn-success m-2">Tatanga</a>
      <a href="{{ url_for('bappeda_kec', district_id=4) }}" class="btn btn-success m-2">Ulujadi</a>
      <a href="{{ url_for('bappeda_kec', district_id=5) }}" class="btn btn-success m-2">Mantikulore</a>
      <a href="{{ url_for('bappeda_kec', district_id=6) }}" class="btn btn-success m-2">Palu Timur</a>
      <a href="{{ url_for('bappeda_kec', district_id=7) }}" class="btn btn-success m-2">Palu Utara</a>
      <a href="{{ url_for('bappeda_kec', district_id=8) }}" class="btn btn-success m-2">Tawaili</a>
    </div>
    <h3 class="text-center">Publikasi Badan Perencanaan Pembangunan Daerah Kota Palu</h3>

    <button class="btn btn-sm btn-info btn-download" onclick="exportTableToExcel('bappedaTable', 'tabel')">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-spreadsheet" viewBox="0 0 16 16">
        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v4h10V2a1 1 0 0 0-1-1H4zm9 6h-3v2h3V7zm0 3h-3v2h3v-2zm0 3h-3v2h2a1 1 0 0 0 1-1v-1zm-4 2v-2H6v2h3zm-4 0v-2H3v1a1 1 0 0 0 1 1h1zm-2-3h2v-2H3v2zm0-3h2V7H3v2zm3-2v2h3V7H6zm3 3H6v2h3v-2z"/>
      </svg>
      <span>
        Download Tabel
      </span>
    </button>

    <!-- awal tabel -->
    <div class="table-responsive mb-5" style="padding: 5vh;">
      <table class="table" id="bappedaTable">
        <thead class="table-dark text-center">
          <tr>
            <th rowspan="2" scope="col">No</th>
            <th rowspan="2" scope="col">Uraian</th>
            <th rowspan="2" scope="col">Satuan</th>
            <th colspan="{{ data|length + 1 }}" scope="col" style="text-align: center">Tahun</th>
          </tr>
    
          <tr>
            {% for d in data %}
              <th>
                {{ d.tahun }}
                {% if current_user.role == 'admin' or current_user.officer_of_agency == 26 %}
                  <span><a href="{{ url_for('bappeda_delete', id=d.id) }}" class="btn btn-danger rounded-circle">x</a></span>
                {% endif %}
              </th>
            {% endfor %}
            {% if current_user.role == 'admin' or current_user.officer_of_agency == 26 %}
              <th><a href="{{ url_for('bappeda_add') }}" class="btn btn-success">Tambah</a></th>
            {% endif %}
          </tr>
        </thead>
    
        <!-- awal -->
        <tbody>
          <tr>
            <td>1</td>
            <td>Jumlah dokumen perencanaan RPJPD yang telah ditetapkan dengan PERDA</td>
            <td>Dokumen</td>
            {% for d in data %}
            <td>{{ d.u1 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>2</td>
            <td>Jumlah Dokumen Perencanaan : RPJMD yang telah ditetapkan dengan PERDA</td>
            <td>Dokumen</td>
            {% for d in data %}
            <td>{{ d.u2 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>3</td>
            <td>Jumlah Dokumen Perencanaan : RKPD yang telah ditetapkan dengan PERKADA</td>
            <td>Dokumen</td>
            {% for d in data %}
            <td>{{ d.u3 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>4</td>
            <td>Jumlah Dokumen Perencanaan : RENSTRA yang telah ditetapkan dengan PERKADA</td>
            <td>Dokumen</td>
            {% for d in data %}
            <td>{{ d.u4 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>5</td>
            <td>Jumlah Dokumen Perencanaan : Renja PD yang telah ditetapkan dengan PERKADA</td>
            <td>Dokumen</td>
            {% for d in data %}
            <td>{{ d.u5 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>6</td>
            <td>Jumlah dokumen RTRW yang telah ditetapkan dengan PERDA</td>
            <td>Dokumen</td>
            {% for d in data %}
            <td>{{ d.u6 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>7</td>
            <td>Jumlah Program RKPD yang konsisten terhadap RPJMD</td>
            <td>Program</td>
            {% for d in data %}
            <td>{{ d.u7 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>8</td>
            <td>Jumlah Program APBD yang konsisten terhadap RKPD</td>
            <td>Program</td>
            {% for d in data %}
            <td>{{ d.u8 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>9</td>
            <td>Kesesuaian rencana pembangunan dengan RTRW</td>
            <td>ya/tidak</td>
            {% for d in data %}
            <td>{{ d.u9 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>10</td>
            <td>Penerapan indikator pelayanan dasar bagi masyarakat kurang mampu dibidang kesehatan, sosial, pendidikan, pekerjaan umum, perumahan dan permukiman</td>
            <td>Indikator</td>
            {% for d in data %}
            <td>{{ d.u10 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>11</td>
            <td>Jumlah OPD yang indeks SPBE ≥ baik</td>
            <td>OPD</td>
            {% for d in data %}
            <td>{{ d.u11 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>12</td>
            <td>Jumlah OPD yg melakukan input/integrasi sistem informasi pembangunan daerah</td>
            <td>OPD</td>
            {% for d in data %}
            <td>{{ d.u12 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>13</td>
            <td>Jumlah OPD yang melaksanakan eRakortek Kab/Kota sebagai wakil pemerintah pusat untuk Kab/Kota berbasis elektronik pada Sistem Informasi Pembangunan Daerah</td>
            <td>OPD</td>
            {% for d in data %}
            <td>{{ d.u13 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>14</td>
            <td>Jumlah daerah yg telah melakukan sinkronisasi Ranwal RKPD dengan Indikator Kinerja Urusan</td>
            <td>Daerah</td>
            {% for d in data %}
            <td>{{ d.u14 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>15</td>
            <td>Jumlah daerah yg telah melakukan sinkronisasi Ranwal RKPD dengan Indikator Makro Pembangunan</td>
            <td>Daerah</td>
            {% for d in data %}
            <td>{{ d.u15 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>16</td>
            <td>Penjabaran Konsistensi Program RPJMD kedalam RKPD</td>
            <td>%</td>
            {% for d in data %}
            <td>{{ d.u16 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>A. Jumlah program RKPD Tahun berkenaan	Program</td>
            <td>Program</td>
            {% for d in data %}
            <td>{{ d.u17 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>B. Jumlah program RPJMD yang harus dilaksanakan Tahun berkenaan</td>
            <td>Program</td>
            {% for d in data %}
            <td>{{ d.u18 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>17</td>
            <td>Penjabaran Konsistensi Program RKPD kedalam APBD</td>
            <td>%</td>
            {% for d in data %}
            <td>{{ d.u19 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>A. Jumlah program RKPD Tahun berkenaan	Program</td>
            <td>Program</td>
            {% for d in data %}
            <td>{{ d.u20 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>B. Jumlah program RPJMD yang harus dilaksanakan Tahun berkenaan</td>
            <td>Program</td>
            {% for d in data %}
            <td>{{ d.u21 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>19</td>
            <td>Kesesuaian rencana pembangunan dengan RTRW</td>
            <td>%</td>
            {% for d in data %}
            <td>{{ d.u22 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>A. Kesesuaian program/kegiatan pembangunan terhadap pola dan struktur ruang</td>
            <td>Program</td>
            {% for d in data %}
            <td>{{ d.u23 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>B. Dokumen RTRW</td>
            <td>Dokumen</td>
            {% for d in data %}
            <td>{{ d.u24 }}</td>
            {% endfor %}
          </tr>
    
          <!-- akhir -->
        </tbody>
      </table>
    </div>

    <!-- akhir tabel -->

  </div>

  <!-- Content end -->

{% endblock %}
