{% extends 'base.html' %}
{% block title %}
  Penelitian
{% endblock %}
{% block content %}
  <!-- Content -->

  <div class="container">
    <div class="ket-tabel d-flex justify-content-center">
      <a href="{{ url_for('penelitian') }}" class="btn btn-success m-2">Kota Palu</a>
      <a href="{{ url_for('penelitian_kec', district_id=1) }}" class="btn btn-success m-2">Palu Barat</a>
      <a href="{{ url_for('penelitian_kec', district_id=2) }}" class="btn btn-success m-2">Palu Selatan</a>
      <a href="{{ url_for('penelitian_kec', district_id=3) }}" class="btn btn-success m-2">Tatanga</a>
      <a href="{{ url_for('penelitian_kec', district_id=4) }}" class="btn btn-success m-2">Ulujadi</a>
      <a href="{{ url_for('penelitian_kec', district_id=5) }}" class="btn btn-success m-2">Mantikulore</a>
      <a href="{{ url_for('penelitian_kec', district_id=6) }}" class="btn btn-success m-2">Palu Timur</a>
      <a href="{{ url_for('penelitian_kec', district_id=7) }}" class="btn btn-success m-2">Palu Utara</a>
      <a href="{{ url_for('penelitian_kec', district_id=8) }}" class="btn btn-success m-2">Tawaili</a>
    </div>
    <h3 class="text-center">Publikasi Badan Penelitian dan Pengembangan Daerah Kota Palu</h3>

    <button class="btn btn-sm btn-info btn-download" onclick="exportTableToExcel('penelitianTable', 'tabel')">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-spreadsheet" viewBox="0 0 16 16">
        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v4h10V2a1 1 0 0 0-1-1H4zm9 6h-3v2h3V7zm0 3h-3v2h3v-2zm0 3h-3v2h2a1 1 0 0 0 1-1v-1zm-4 2v-2H6v2h3zm-4 0v-2H3v1a1 1 0 0 0 1 1h1zm-2-3h2v-2H3v2zm0-3h2V7H3v2zm3-2v2h3V7H6zm3 3H6v2h3v-2z"/>
      </svg>
      <span>
        Download Tabel
      </span>
    </button>

    <!-- awal tabel -->
    <div class="table-responsive mb-5" style="padding: 5vh;">
      <table class="table" id="penelitianTable">
        <thead class="table-dark text-center">
          <tr>
            <th rowspan="2" scope="col">No</th>
            <th rowspan="2" scope="col">Uraian</th>
            <th rowspan="2" scope="col">Satuan</th>
            <th colspan="{{ data|length + 1 }}" scope="col" style="text-align: center">Tahun</th>
          </tr>
    
          <tr>
            {% for d in data %}
              <th>
                {{ d.tahun }}
                {% if current_user.role == 'admin' or current_user.officer_of_agency == 30 %}
                  <span><a href="{{ url_for('penelitian_delete', id=d.id) }}" class="btn btn-danger rounded-circle">x</a></span>
                {% endif %}
              </th>
            {% endfor %}
            {% if current_user.role == 'admin' or current_user.officer_of_agency == 30 %}
              <th><a href="{{ url_for('penelitian_add') }}" class="btn btn-success">Tambah</a></th>
            {% endif %}
          </tr>
        </thead>
    
        <!-- awal -->
        <tbody>
          <tr>
            <td>1</td>
            <td>Daerah Pilot Project yang menerapkan inovasi daerah berbasis tematik guna mendukung iklim investasi (3T)</td>
            <td>daerah</td>
            {% for d in data %}
            <td>{{ d.u1 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>2</td>
            <td>Penilaian inovasi daerah secara terpadu berbasis indeks inovasi daerah</td>
            <td>daerah</td>
            {% for d in data %}
            <td>{{ d.u2 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>3</td>
            <td>Penerapan inovasi SPBE dengan platform Sistem Informasi Layanan Inovasi Daerah</td>
            <td>daerah</td>
            {% for d in data %}
            <td>{{ d.u3 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>4</td>
            <td>Implementasi rencana Kelitbangan</td>
            <td>%</td>
            {% for d in data %}
            <td>{{ d.u4 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>a.Jumlah kelitbangan dalam RKPD</td>
            <td>Bh</td>
            {% for d in data %}
            <td>{{ d.u5 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>b.Jumlah kelitbangan dalam RPJMD</td>
            <td>Bh</td>
            {% for d in data %}
            <td>{{ d.u6 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>5</td>
            <td>Pemanfaatan hasil Kelitbangan</td>
            <td>%</td>
            {% for d in data %}
            <td>{{ d.u7 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>a.Jumlah kelitbangan yang ditindaklanjuti</td>
            <td>Bh</td>
            {% for d in data %}
            <td>{{ d.u8 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>b.Jumlah kelitbangan dalam renja perangkat daerah</td>
            <td>Bh</td>
            {% for d in data %}
            <td>{{ d.u9 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>6</td>
            <td>Jumlah Pelabuhan Laut</td>
            <td></td>
          </tr>
          <tr>
            <td>7</td>
            <td>Perangkat daerah yang difasilitasi dalam penerapan inovasi daerah</td>
            <td>%</td>
            {% for d in data %}
            <td>{{ d.u10 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>a.Jumlah perangkat daerah yang difasilitasi</td>
            <td>PD</td>
            {% for d in data %}
            <td>{{ d.u11 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>b.Jumlah total perangkat daerah</td>
            <td>PD</td>
            {% for d in data %}
            <td>{{ d.u12 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>8</td>
            <td>Kebijakan inovasi yang diterapkan di daerah</td>
            <td>%</td>
            {% for d in data %}
            <td>{{ d.u13 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>a. Jumlah kebijakan inovasi yang diterapkan</td>
            <td>Inovasi</td>
            {% for d in data %}
            <td>{{ d.u14 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>b. Jumlah inovasi yang diusulkan</td>
            <td>Inovasi</td>
            {% for d in data %}
            <td>{{ d.u15 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>9</td>
            <td>Jumlah Data Potensi Sumber Daya Kota Palu Berbasis Sistem Informasi Terintegrasi berbasis GIS</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>Kecamatan Palu Barat</td>
            <td>Data</td>
            {% for d in data %}
            <td>{{ d.u16 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>Kecamatan Tatanga</td>
            <td>Data</td>
            {% for d in data %}
            <td>{{ d.u17 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>Kecamatan Ulujadi</td>
            <td>Data</td>
            {% for d in data %}
            <td>{{ d.u18 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>Kecamatan Palu Selatan</td>
            <td>Data</td>
            {% for d in data %}
            <td>{{ d.u19 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>Kecamatan Palu Timur</td>
            <td>Data</td>
            {% for d in data %}
            <td>{{ d.u20 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>Kecamatan Mantikulore</td>
            <td>Data</td>
            {% for d in data %}
            <td>{{ d.u21 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>Kecamatan Palu Utara</td>
            <td>Data</td>
            {% for d in data %}
            <td>{{ d.u22 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>Kecamatan Tawaeli</td>
            <td>Data</td>
            {% for d in data %}
            <td>{{ d.u23 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>10</td>
            <td>Jumlah Perangkat Daerah dan Kelurahan yang menerapkan Sistem Informasi Terintegrasi berbasis GIS</td>
            <td>PD</td>
            {% for d in data %}
            <td>{{ d.u24 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>11</td>
            <td>Jumlah hasil Penelitian dan Pengembangan pada bidang :</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>- Politik dan Hukum</td>
            <td>Penelitian</td>
            {% for d in data %}
            <td>{{ d.u25 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>- Pemerintahan</td>
            <td>Penelitian</td>
            {% for d in data %}
            <td>{{ d.u26 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>- Sosial Budaya</td>
            <td>Penelitian</td>
            {% for d in data %}
            <td>{{ d.u27 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>- Ekonomi</td>
            <td>Penelitian</td>
            {% for d in data %}
            <td>{{ d.u28 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>12</td>
            <td>Jumlah Kelompok Usaha yang difasilitasi pelatihan Penerapan dan Pengoperasian Teknologi :</td>
            <td>%</td>
          </tr>
          <tr>
            <td></td>
            <td>- Kerajinan</td>
            <td>Kelompok</td>
            {% for d in data %}
            <td>{{ d.u29 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>- Pengolahan</td>
            <td>Kelompok</td>
            {% for d in data %}
            <td>{{ d.u30 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>- Budidaya</td>
            <td>Kelompok</td>
            {% for d in data %}
            <td>{{ d.u31 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>13</td>
            <td>Jumlah Kelompok Usaha yang difasilitasi pelatihan Manajemen Usaha :</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>- Menejemen Produksi</td>
            <td>Kelompok</td>
            {% for d in data %}
            <td>{{ d.u32 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>- Menejemen Keuangan</td>
            <td>Kelompok</td>
            {% for d in data %}
            <td>{{ d.u33 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>- Menejemen Pemasaran</td>
            <td>Kelompok</td>
            {% for d in data %}
            <td>{{ d.u34 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>14</td>
            <td>Kegiatan TPID (Tim Pengendali Inflasi Daerah)</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>a. Perkembangan Inflasi</td>
            <td>%</td>
            {% for d in data %}
            <td>{{ d.u35 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>b. Perkembangan harga dan bahan pokok</td>
            <td>%</td>
            {% for d in data %}
            <td>{{ d.u36 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>c. Perkembangan ketersediaan pangan strategis</td>
            <td>%</td>
            {% for d in data %}
            <td>{{ d.u37 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            <td>d. Laporan</td>
            <td>Buku</td>
            {% for d in data %}
            <td>{{ d.u38 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>15</td>
            <td>Indeks Inovasi Daerah</td>
            <td>Skor</td>
            {% for d in data %}
            <td>{{ d.u39 }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>16</td>
            <td>Jumlah Hak Kekayaan Intelektual yang diterbitkan</td>
            <td>Sertifikat</td>
            {% for d in data %}
            <td>{{ d.u40 }}</td>
            {% endfor %}
          </tr>
          <!-- akhir -->
        </tbody>
      </table>
    </div>

    <!-- akhir tabel -->

  </div>

  <!-- Content end -->

{% endblock %}
