{% extends 'base.html' %} {% block title %} Publikasi {% endblock %} {% block content %}

<!-- Content -->
<section id="card-publikasi">
  <h1 class="text-center mb-4">Publikasi Dinas Kota Palu</h1>

  <div class="swiper mySwiper container card-container">
    <div class="swiper-wrapper contentt">

      <!-- dinas sekda -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company">
            <span class="name">Sekretariat </span>
            <span class="company">Daerah</span>
          </div>

          <br>
          <div class="button">
            <button class="See"><a href="{{ url_for('setda') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- dinas dprd -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>
          <div class="name-company">
            <span class="name">Sekretariat </span>
            <span class="company">DPRD </span>
          </div>

          <br>
          <div class="button">
            <button class="See"><a href="{{ url_for('dprd') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- dinas INSPEKTORAT -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company">
            <span class="company">Inspektorat</span>
          </div>

          <br>
          <div class="button">
            <button class="See"><a href="{{ url_for('inspektorat') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- dinas Pendidikan dan Kebudayaan -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
              </div>

              <div class="name-company" style="text-align: center">
              <span class="name">Dinas </span> <br />
              <span class="company">Pendidikan dan Kebudayaan </span>
              <span class="company"> </span>
              </div>

              <div class="button">
              <button class="See"><a href="{{ url_for('pendidikan') }}">Lihat</a></button>
          </div>
        </div>
      </div>
        

      <!-- dinas kesehatan -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company">
            <span class="name">Dinas </span>
            <span class="company">Kesehatan </span>
          </div>

          <br>
          <div class="button">
            <button class="See"><a href="{{ url_for('dinkes') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- rsu anutapura -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company">
            <span class="name" style="text-align: center">RSU</span>
            <span class="company">Anutapura</span>
          </div>

          <br>
          <div class="button">
            <button class="See"><a href="{{ url_for('anutapura') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- dinas pekerjaan umum -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company">
            <span class="name" style="text-align: center">Dinas</span>
            <span class="company">Pekerjaan Umum </span>
          </div>

          <br>
          <div class="button">
            <button class="See"><a href="{{ url_for('pu') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- dinas penataan ruang dan pertanahan -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company" style="text-align: center">
            <span class="name" style="text-align: center">Dinas</span>
            <span class="company">Penataan Ruang dan Pertanahan </span>
          </div>

          <div class="button">
            <button class="See"><a href="{{ url_for('pertanahan') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- dinas perumahan dan kawasan permukiman-->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company" style="text-align: center">
            <span class="name" style="text-align: center">Dinas</span>
            <span class="company">Perumahan dan Kawasan Permukiman </span>
          </div>

          <div class="button">
            <button class="See"><a href="{{ url_for('pemukiman') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- dsatuan polisi pamong praja -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company">
            <span class="name" style="text-align: center">Satuan</span>
            <span class="company"> Polisi Pamong Praja </span>
          </div>

          <br>
          <div class="button">
            <button class="See"><a href="{{ url_for('satpol') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- dinas pemadam kebakaran dan penyelamatan -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company" style="text-align: Center">
            <span class="name" style="text-align: center">Dinas</span>
            <span class="company">Pemadam Kebakaran dan Penyelamatan </span>
          </div>

          <div class="button">
            <button class="See"><a href="{{ url_for('pemadam') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- dinas sosial-->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company" style="text-align: Center">
            <span class="name" style="text-align: center">Dinas</span>
            <span class="company">Sosial </span>
          </div>

          <br>
          <div class="button">
            <button class="See"><a href="{{ url_for('sosial') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- Koperasi, UMKM dan Tenaga Kerja -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company" style="text-align: Center">
            <span class="name" style="text-align: center">Dinas</span>
            <span class="company">Koperasi, UMKM dan Tenaga Kerja </span>
          </div>

          <div class="button">
            <button class="See"><a href="{{ url_for('umkm') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- dinas perdagangan dan perindustrian -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company" style="text-align: Center">
            <span class="name" style="text-align: center">Dinas</span>
            <span class="company">Perdagangan dan Perindustrian </span>
          </div>

          <div class="button">
            <button class="See"><a href="{{ url_for('perdagangan') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- dinas kependudukan dan pencatatan sipil -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company" style="text-align: Center">
            <span class="name" style="text-align: center">Dinas</span>
            <span class="company">Kependudukan dan Pencatatan Sipil </span>
          </div>

          <div class="button">
            <button class="See"><a href="{{ url_for('dukcapil') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- dinas pertanian dan ketahanan pangan -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company" style="text-align: Center">
            <span class="name" style="text-align: center">Dinas</span>
            <span class="company">Pertanian dan Ketahanan Pangan </span>
          </div>

          <div class="button">
            <button class="See"><a href="{{ url_for('pangan') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- dinas kearsipan dan perpustakaan -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company" style="text-align: Center">
            <span class="name" style="text-align: center">Dinas</span>
            <span class="company">Kearsipan dan Perpustakaan </span>
          </div>

          <div class="button">
            <button class="See"><a href="{{ url_for('kearsipan') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- dinas dinas pemuda dan olahraga -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company" style="text-align: Center">
            <span class="name" style="text-align: center">Dinas</span>
            <span class="company">Pemuda dan Olahraga </span>
          </div>

          <br>
          <div class="button">
            <button class="See"><a href="{{ url_for('dispora') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- dinas pemberdayaan perempuan dan perlindungan anak -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company" style="text-align: Center">
            <span class="name" style="text-align: center">Dinas</span>
            <span class="company">Pemberdayaan dan Perlindungan Anak</span>
          </div>

          <div class="button">
            <button class="See"><a href="{{ url_for('pppa') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- dinas pengendalian penduduk dan kb -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company" style="text-align: Center">
            <span class="name" style="text-align: center">Dinas</span>
            <span class="company">Pengendalian Penduduk dan KB</span>
          </div>

          <div class="button">
            <button class="See"><a href="{{ url_for('ppkb') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- dinas lingkungan hidup -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company" style="text-align: Center">
            <span class="name" style="text-align: center">Dinas</span>
            <span class="company">Lingkungan Hidup</span>
          </div>

          <br>
          <div class="button">
            <button class="See"><a href="{{ url_for('lingkungan') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- dinas penanaman modal dan pelayanan terpadu satu pintu -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company" style="text-align: Center">
            <span class="name" style="text-align: center">Dinas</span>
            <span class="company">Penanaman Modal</span>
          </div>

          <br>
          <div class="button">
            <button class="See"><a href="{{ url_for('modal') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- Dinas pariwisata -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company" style="text-align: Center">
            <span class="name" style="text-align: center">Dinas</span>
            <span class="company">Pariwisata</span>
          </div>

          <br>
          <div class="button">
            <button class="See"><a href="{{ url_for('pariwisata') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- Perhubungan -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company" style="text-align: Center">
            <span class="name" style="text-align: center">Dinas</span>
            <span class="company">Perhubungan</span>
          </div>

          <br>
          <div class="button">
            <button class="See"><a href="{{ url_for('dishub') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- dinas komunikasi dan informatika -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company" style="text-align: Center">
            <span class="name" style="text-align: center">Dinas</span>
            <span class="company">Komunikasi dan Informatika</span>
          </div>

          <div class="button">
            <button class="See"><a href="{{ url_for('kominfo') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- dinas badan perencanaan pembangunan daerah -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company" style="text-align: Center">
            <span class="name" style="text-align: center">Badan Perencanaan</span>
            <span class="company">Pembangunan Daerah</span>
          </div>

          <div class="button">
            <button class="See"><a href="{{ url_for('bappeda') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- dinas kepagawaian dan pengembangan sumber daya manusia daerah-->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company" style="text-align: Center">
            <span class="name" style="text-align: center">Badan Kepegawaian</span>
            <span class="company">dan Pengembangan SDM</span>
          </div>

          <div class="button">
            <button class="See"><a href="{{ url_for('kepegawaian') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- badan pengelola keuangan dan aset daerah-->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company" style="text-align: Center">
            <span class="name" style="text-align: center">Badan</span>
            <span class="company">Pengelola Keuangan dan Aset Daerah</span>
          </div>

          <div class="button">
            <button class="See"><a href="{{ url_for('aset') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- badan pendapatan daerah -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company" style="text-align: Center">
            <span class="name" style="text-align: center">Badan</span>
            <span class="company">Pendapatan Daerah</span>
          </div>

          <br>
          <div class="button">
            <button class="See"><a href="{{ url_for('pendapatan') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- badan penelitian dan pengembangan daerah -->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company" style="text-align: Center">
            <span class="name" style="text-align: center">Badan Penelitian</span>
            <span class="company">dan Pengembangan Daerah</span>
          </div>

          <div class="button">
            <button class="See"><a href="{{ url_for('penelitian') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- badan kesatuan bangsa dan politik-->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company" style="text-align: Center">
            <span class="name" style="text-align: center">Badan</span>
            <span class="company">Kesatuan Bangsa dan Politik</span>
          </div>

          <div class="button">
            <button class="See"><a href="{{ url_for('kesatuan') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!-- badan penanggulangan bencana daerah-->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company" style="text-align: Center">
            <span class="name" style="text-align: center">Badan</span>
            <span class="company">Penanggulangan Bencana Daerah</span>
          </div>

          <div class="button">
            <button class="See"><a href="{{ url_for('bencana') }}">Lihat</a></button>
          </div>
        </div>
      </div>

      <!--administrator kawasan ekonomi khusus-->
      <div class="swiper-slide card">
        <div class="card-content">
          <div class="image">
            <img src="{{ url_for('static', filename='img/team-1.jpg')}} " alt="img" />
          </div>

          <div class="name-company" style="text-align: Center">
            <span class="name" style="text-align: center">Administrator Kawasan</span>
            <span class="company">Ekonomi Khusus </span>
          </div>

          <div class="button">
            <button class="See"><a href="{{ url_for('kawasan') }}">Lihat</a></button>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>

{% endblock %}
